/* 

.InfoButtons {
  border-radius: 28px;
  margin-right: 50px;
	margin-left: 50px;
	cursor: pointer;
	display: inline-block;
}

.InfoButtons:hover {
	background-color: #e7e7e7;
}

.Buttons {
	display: inline-block;
} */